{% extends "base.html" %}
{% load static i18n rules flashcard_tags crispy_forms_tags %}

{% block title %} {% trans "Gain" %} {% endblock %}

{% block content %}

{% test_rule 'can_manage_performance' request.user card_performance as can_manage_performance %}
{% test_rule 'can_manage_card' request.user card_performance.card.group as can_manage_card %}

<div class="container">

  <div class="row mt-3">
    <div class="col-sm-12">
      <form method="post" name="performance_rating" class="form-inline">
        {% crispy form form.helper %}
      </form>
    </div>
  </div>

  <div class="row mt-3 align-items-center">
    <div class="col-sm-8 bg-light">

      <div class="card bg-light">

        <div class="card-header">
        </div>

        <div class="card-body">
          <div class="row mb-3 justify-content-center">
            <div class="col-sm-4">
              <center><strong>{% trans "Front" %}</strong></center>
            </div>
            <div class="col-sm-8">
              {{ card_performance.card.front_text|safe }}
            </div>
          </div>
          <div class="row mb-3 justify-content-center">
            <div class="col-sm-4">
              <center><strong>{% trans "Back" %}</strong></center>
            </div>
            <div class="col-sm-8"{% if mode == 'recall' %} style="visibility:hidden"{% endif%}
            id="correct_answer">
              {{ card_performance.card.back_text|safe }}
            </div>
          </div>
        </div>

        <div class="card-footer">

          <div class="btn-group float-left" role="group" aria-label="Study Group Actions">
            <button id="card_actions" type="button"
            class="btn btn-sm btn-dark dropdown-toggle" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" title="{% trans 'Manage' %}">
              {% trans 'Manage' %}
            </button>
            <div class="dropdown-menu" aria-labelledby="card_actions">

              {% if can_manage_card %}
                <a class="dropdown-item" href="#" data-toggle="modal"
                title="{% trans 'Manage Card' %}" role="button"
                data-target="#update_delete_card_{{card_performance.card.id}}_modal">
                  {% trans 'Edit Card' %}
                </a>
              {% endif %}

              {% if can_manage_performance %}
                <a class="dropdown-item" href="#" data-toggle="modal"
                title="{% trans 'Manage Learning Settings' %}" role="button"
                data-target="#update_performance_{{card_performance.id}}_modal">
                  {% trans 'Settings' %}
                </a>
              {% endif %}

            </div>

          </div>

          {% if can_manage_card %}
            {% update_delete_card_modal card_performance.card %}
          {% endif %}

          {% if can_manage_performance %}
            {% update_performance_modal card_performance %}
          {% endif %}

        </div> <!-- END card-footer -->

      </div> <!-- END card -->

    </div>

    <div class="col-sm-4">
      {% if mode == 'recall'%}

        {# Recalling Cards #}
        <div class="btn-group-vertical w-100" role="group"
          id="show_correct_answer_button" aria-label="Show Answer">
          <button type="button" class="btn btn-lg btn-block btn-primary"
            onclick="show_correct_answer();">
            {% trans 'Show correct answer' %}
          </button>
        </div>

        <div class="btn-group-vertical w-100" style="display:none" role="group"
          id="rating_panel" aria-label="Rate Performance">

          <button type="button" class="btn btn-lg btn-block btn-primary"
            onclick="rate_recall_performance(5)">
            {% trans 'Exactly Remembered' %}
          </button>

          <button type="button" class="btn btn-lg btn-block btn-success"
            onclick="rate_recall_performance(4)">
            {% trans 'Easily Remembered' %}
          </button>

          <button type="button" class="btn btn-lg btn-block btn-success"
            onclick="rate_recall_performance(3)">
            {% trans 'Remembered' %}
          </button>

          <button type="button" class="btn btn-lg btn-block btn-warning"
            onclick="rate_recall_performance(2)">
            {% trans 'Almost Remembered' %}
          </button>

          <button type="button" class="btn btn-lg btn-block btn-warning"
            onclick="rate_recall_performance(1)">
            {% trans 'Forgotten' %}
          </button>

          <button type="button" class="btn btn-lg btn-block btn-danger"
            onclick="rate_recall_performance(0)">
            {% trans 'Completely forgotten' %}
          </button>

        </div>

      {% elif mode == 'train' %}

        {# Cycling Cards #}
        <div class="btn-group-vertical w-100" role="group" aria-label="Rate Performance">
          <button type="button" class="btn btn-lg btn-block btn-success"
            onclick="rate_train_performance(1)">
            {% trans 'Well Memorized!' %}
          </button>
          <button type="button" class="btn btn-lg btn-block btn-warning"
            onclick="rate_train_performance(0)">
            {% trans 'Unsure...' %}
          </button>
        </div>

      {% endif %}

    </div>
  </div>


</div>
{% endblock content %}

{% block javascript %}

  {{ block.super }}

  {% if mode == 'recall'%}

    <script type="text/javascript">
      function show_correct_answer() {
        document.getElementById('correct_answer').style.visibility = 'visible';
        document.getElementById('show_correct_answer_button').style.display = 'none';
        document.getElementById('rating_panel').style.display = 'inline';
      }
      function rate_recall_performance(rating) {
        document.getElementById('id_outcome_int').value = rating;
        document.getElementById('id_save_datapoint').value = true;
        document.performance_rating.submit()
      }
      //Global Timer
      var seconds = document.getElementById("id_duration_sec").value;
      var countdown = setInterval(function() {
        seconds++;
        document.getElementById("id_duration_sec").value = seconds;
        if (seconds >= {{ auto_redirect_timeout }}) document.performance_rating.submit();
      }, 1000);
    </script>

  {% elif mode == 'train' %}

    <script type="text/javascript">

      function rate_train_performance(rating) {
        document.getElementById('id_outcome_int').value = rating;
        document.getElementById('id_save_datapoint').value = true;
        document.performance_rating.submit()
      }

      var seconds = document.getElementById("id_duration_sec").value;
      var countdown = setInterval(function() {
        seconds++;
        document.getElementById("id_duration_sec").value = seconds;
        if (seconds >= {{ auto_redirect_timeout }}) document.performance_rating.submit();
      }, 1000);
    </script>

  {% endif %}
{% endblock javascript %}
