{% extends "base.html" %}
{% load static i18n %}

{% block title %} {% trans "Recall Card" %} {% endblock %}

{% block content %}
<div class="container">

  <div class="row mt-3">
    <div class="col-sm-12">
      <h1>{% trans "Recall Card" %}</h1>
    </div>
  </div>

  <div class="row mb-3 justify-content-center">
    <div class="col-sm-8">
      <center><strong>{% trans "Question:" %}</strong></center>
        <br>
        {{ card_performance.card.front_text|safe }}
    </div>
  </div>

  <div class="row mb-3 justify-content-center">
    <div class="col-sm-8">
      <center><strong>{% trans "Answer:" %}</strong></center>
        <br>
        <div style="visibility:hidden" id="correct_answer">
          {{ card_performance.card.front_text|safe }}
        </div>
    </div>
  </div>

  <div class="row mb-3 justify-content-between">

    <div class="col-sm-3">
      <a href="{#% url 'cardset:memocard_update_view' unique_id=card_performance.memocard.unique_id %#}"
      role="button" class="btn btn-md btn-primary" title="{% trans 'Update Card' %}">
        {% trans 'Update Card' %}
      </a>
    </div>

    <div class="col-sm-9">

      <button type="button" class="btn btn-md btn-block btn-primary" id="show_correct_answer_button"
        onclick="show_correct_answer();">
        {% trans 'Show correct answer' %}
      </button>

      <div class="btn-group mr-2" style="visibility:hidden" role="group" id="rating_panel" aria-label="Rate Performance">

        <button type="button" class="btn btn-md btn-warning"
          onclick="rate_recall_performance(0)">
          {% trans 'Completely forgotten' %}
        </button>
        <button type="button" class="btn btn-md btn-warning"
          onclick="rate_recall_performance(1)">
          {% trans 'Forgotten' %}
        </button>
        <button type="button" class="btn btn-md btn-success"
          onclick="rate_recall_performance(2)">
          {% trans 'Almost Remembered' %}
        </button>
        <button type="button" class="btn btn-md btn-success"
          onclick="rate_recall_performance(3)">
          {% trans 'Remembered' %}
        </button>
        <button type="button" class="btn btn-md btn-success"
          onclick="rate_recall_performance(4)">
          {% trans 'Easily Remembered' %}
        </button>
        <button type="button" class="btn btn-md btn-success"
          onclick="rate_recall_performance(5)">
          {% trans 'Exactly Remembered' %}
        </button>
      </div>

      <form method="post" name="performance_rating">
        {% csrf_token %}
        {{ form.as_p }}
      </form>

    </div>
  </div>

</div>
{% endblock content %}

{% block javascript %}

  <script type="text/javascript">
    function show_correct_answer() {
      document.getElementById('show_correct_answer_button').style.visibility = 'hidden';
      document.getElementById('correct_answer').style.visibility = 'visible';
      document.getElementById('rating_panel').style.visibility = 'visible';
    }
    function rate_recall_performance(rating) {
      document.getElementById('id_outcome_int').value = rating;
      document.performance_rating.submit()
    }
    //Global Timer
    var seconds = document.getElementById("id_duration_sec").value;
    var countdown = setInterval(function() {
      seconds++;
      document.getElementById("id_duration_sec").value = seconds;
      if (seconds >= {{ auto_redirect_timeout }}) document.performance_rating.submit();
    }, 1000);
  </script>
{% endblock javascript %}
