{% load static rules i18n crispy_forms_tags %}

<!-- Modal -->
<div class="modal fade" id="update_performance_{{performance.id}}_modal" tabindex="-1" role="dialog"
  aria-labelledby="group_manage_member_modal" aria-hidden="true">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="">{% trans 'Update Learning Settings' %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="container-fluid mt-3">
          <div class="row">

            <div class="col-xs-10">

              <form id="performance_{{performance.id}}_update_form" method="post"
                action="{% url 'flashcards:performance_update_view' unique_id=performance.unique_id %}">
                {% crispy performance_form performance_form.helper %}
              </form>

            </div>

          </div>
        </div>

      </div>
      <div class="modal-footer d-flex justify-content-between">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans 'Close' %}</button>
        <button type="submit" form="performance_{{performance.id}}_update_form" class="btn btn-success">
          {% trans 'Update' %}
        </button>
      </div>

    </div>
  </div>
</div>
