{% extends "base.html" %}
{% load static i18n rules %}

{% block title %} {% trans "Study Group" %} {% endblock %}

{% block content %}


<div class="container">

  <div class="row mt-3">

    <div class="col-xs-12 col-md-6 col-lg-4 mt-3">
      {% include "studygroups/partials/_group_card.html" with group=object detail_view=True %}
    </div>

    {% comment %}
    {# CURRENTLY HIDDEN #}
    {% test_rule 'can_create_topic' request.user object as can_create_topic %}
    {% if can_create_topic %}
      <div class="col-xs-12 col-md-6 col-lg-4 mt-3">
        {% include "flashcards/partials/_create_topic_button.html" with group=object %}
      </div>
    {% endif %}
    {% endcomment %}

    {% test_rule 'can_create_card' request.user object as can_create_card %}
    {% if can_create_card %}
      <div class="col-xs-12 col-md-6 col-lg-4 mt-3">
        {% include "flashcards/partials/_create_card_button.html" with group=object %}
      </div>
    {% endif %}

    {% for card in object.cards.all %}
      <div class="col-xs-12 col-md-6 col-lg-4 mt-3">
        {% include "flashcards/partials/_card_card.html" with card=card %}
      </div>
    {% endfor %}

  </div>

  <div class="row">
    <div class="col-sm-12">

    </div>
  </div>

</div>
{% endblock content %}
