{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load crispy_forms_tags %}
{% load studygroup_tags %}

{% block title %} {% trans "Study Group" %} {% endblock %}

{% block content %}

{% get_group_permissions request.user object as group_permissions %}

<div class="container">

  <div class="row mt-3">

      <div class="col-xs-12 col-md-8 col-lg-8 mt-3">
        {% crispy card_search_form card_search_form.helper %}
      </div>

      <div class="col-xs-12 col-md-4 col-lg-4 mt-3 text-center">
        {% if group_permissions.can_manage_card %}
          <a class="btn btn-success btn-block" href="#" data-toggle="modal"  title="{% trans 'Add new card' %}"
          role="button" data-target="#group_create_card_modal">
            {% trans 'Add Card' %}
          </a>
          {% include "flashcards/partials/_create_card_modal.html" with group=object card_create_form=card_create_form %}
        {% endif %}
      </div>

  </div>

  <div class="row mt-3">

    <div class="col-xs-12 col-md-6 col-lg-4 mt-3">
      {% include "studygroups/partials/_group_card.html" with group=object group_permissions=group_permissions detail_view=True group_edit_form=group_edit_form %}
    </div>

    {% for card in page_obj %}
      <div class="col-xs-12 col-md-6 col-lg-4 mt-3">
        {% include "flashcards/partials/_card_card.html" with card=card can_manage_card=group_permissions.can_manage_card%}
      </div>
    {% endfor %}

  </div>

  <div class="row mt-3 justify-content-center">
    {% include "utils/partials/_paginator.html" with page_obj=page_obj %}
  </div>

</div>

{% endblock content %}
