{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% load rules %}
{% load studygroup_tags %}

{% block title %} {% trans "Group Directory" %} {% endblock %}

{% block content %}

{% test_rule 'can_create_studygroup' request.user as can_create_studygroup %}

<div class="container">

  <div class="row mt-3">

    <div class="col-sm-8">
      <h1>{% trans "Group Directory" %}</h1>
    </div>
    <div class="col-sm-4">

      {% comment %}
        {# Currently disabled #}
        {% if can_create_studygroup %}
          <a class="btn btn-success btn-block" href="#" data-toggle="modal"
          title="{% trans 'Create new study group' %}" role="button"
          data-target="#create_group_modal">
            {% trans 'Create Study Group' %}
          </a>
        {% endif %}

      {% endcomment %}

    </div>
  </div>

  <div class="row mt-3">

    {# Pagination #}

    {% for group in page_obj %}
      <div class="col-xs-12 col-md-6 col-lg-4 mt-3">
        {% get_group_permissions request.user group as group_permissions %}
        {% include "studygroups/partials/_group_card.html" with group=group group_permissions=group_permissions %}
      </div>
    {% empty %}
      <div class="col-xs-12 col-md-6 col-lg-4 mt-3">
        {% trans 'Directory is empty. Create a study group to fill this space!' %}
      </div>
    {% endfor %}

  </div>

  <div class="row mt-3 justify-content-center">
    {% include "utils/partials/_paginator.html" with page_obj=page_obj %}
  </div>

</div>

{% if can_create_studygroup %}

  {% include "studygroups/partials/_create_group_modal.html" with group_create_form=group_create_form %}

{% endif %}

{% endblock content %}
