{% load static i18n %}

<div id="site-footer" class="container-fluid bg-light">
  <div class="row mt-3 mb-3 d-flex align-items-center justify-content-center">
    <div class="col-sm-3 d-flex align-items-center justify-content-center">
      <a class="btn btn-sm btn-light" href="#" title="Currently not implemented!">
        {% trans 'Send Feedback' %}
      </a>
    </div>
    <div class="col-sm-3">
        <a class="navbar-brand d-flex align-items-center justify-content-center"
        href="https://42wolfsburg.de" title="{% trans '42 Wolfsburg' %}">
          <img class="align-self-center float-left mr-3" width="120px"
            src="{{STATIC_URL}}images/sponsors/42Wolfsburg_Logo.png">
        </a>
    </div>
    <div class="col-sm-3">
      {% trans 'Remember, Everything, Together!' %}
    </div>
    <div class="col-sm-3">
      <a class="navbar-brand d-flex align-items-center justify-content-center text-dark"
      href="{% url 'home' %}" title="{% trans 'Brain Gain' %}">
        <img class="align-self-center float-left mr-3" width="50px"
          src="{{STATIC_URL}}images/Logo_v1_150x150.png">
          Brain Gain
      </a>
    </div>
  </div>

  <div class="row bg-dark text-light d-flex align-items-center justify-content-center">
    <div class="col-sm-12 col-md-6">
      <center><small>
      <a class="" href="{% url 'privacy_policy' %}">{% trans 'Privacy Policy' %}</a> |
      <a class="" href="{% url 'privacy_policy' %}">{% trans 'Terms and Conditions' %}</a> |
      {% trans "Proudly build by 42 Wolfsburg Brains 2021" %}
      </small><center>
    </div>
  </div>
</div>
