{% load static rules i18n %}

{% test_rule 'can_view_group' request.user group as can_view_group %}
{% if can_view_group and detail_view %}
  {% test_rule 'can_update_group' request.user group as can_update_group %}
  {% test_rule 'can_delete_group' request.user group as can_delete_group %}
  {% test_rule 'can_manage_card' request.user group as can_manage_card %}
  {% test_rule 'can_manage_topic' request.user group as can_manage_topic %}
  {% test_rule 'can_manage_member' request.user group as can_manage_member %}
{% endif %}

{% test_rule 'can_join_group' request.user group as can_join_group %}
{% test_rule 'can_leave_group' request.user group as can_leave_group %}
{% test_rule 'has_unapproved_membership' request.user group as has_unapproved_membership %}


<div class="card mb-3 h-100
  {% if group.is_main_user_group or detail_view%}
  border-primary
  {% else %}
  border-secondary
  {% endif %}">
  {% if can_view_group and not detail_view %}
    <a href="{% url 'studygroups:group_detail_view' slug=group.slug %}"
    class="" style="text-decoration: none; color:inherit;" title="{% trans 'View Study Group' %}">
      <div class="card-header">{% trans 'Group' %}: {{ group.name }}</div>
    </a>
  {% else %}
    <div class="card-header">{% trans 'Group' %}: {{ group.name }}</div>
  {% endif %}
  <div class="card-body">
    <p class="card-text">
      {% if detail_view %}
        {{ group.description|safe }}
      {% else %}
        {{ group.description|safe|truncatewords:7 }}
      {% endif %}
    </p>
  </div>
  <div class="card-footer">


    <span class="badge badge-pill badge-light" title="{% trans 'Group Cards' %}">
      {{group.number_cards}} cards
    </span>

    {% if not group.is_main_user_group %}
    <span class="badge badge-pill badge-light" title="{% trans 'Group Members' %}">
      {{group.number_active_members}} members
    </span>
    {% endif %}

    <div class="btn-group float-right" role="group" aria-label="Study Group Actions">

      {# Group Actions on group list view #}
      {% if can_join_group %}
        <a href="{% url 'studygroups:group_join_view' unique_id=group.unique_id %}"
        role="button" class="btn btn-sm btn-success" title="{% trans 'Join Study Group' %}">
          {% trans 'Join' %}
        </a>
      {% endif %}

      {% if can_view_group and not detail_view %}
        <a href="{% url 'studygroups:group_detail_view' slug=group.slug %}"
        role="button" class="btn btn-sm btn-primary" title="{% trans 'View Study Group' %}">
          {% trans 'View' %}
        </a>
      {% endif %}

      {% if has_unapproved_membership %}
        <small>{% trans 'Please wait for approval...' %}</small>
      {% endif %}

      {# Group Actions on group detail view #}
      {% if can_view_group and detail_view %}
        <button id="group_actions" type="button"
        class="btn btn-sm btn-dark dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false" title="{% trans 'Manage Group' %}">
          {% trans 'Manage' %}
        </button>
        <div class="dropdown-menu" aria-labelledby="group_actions">

          {% if can_manage_card %}
            <a class="dropdown-item text-success" href="#" data-toggle="modal"
            title="{% trans 'Add new card' %}" role="button"
            data-target="#group_create_card_modal">
              {% trans 'Add Card' %}
            </a>
          {% endif %}

          {% if can_update_group %}

            <a class="dropdown-item text-primary" href="#" data-toggle="modal"
            title="{% trans 'Edit Group' %}" role="button"
            data-target="#group_edit_modal">
              {% trans 'Edit Group' %}
            </a>
            {% comment %}
            <a href="{% url 'studygroups:group_update_view' unique_id=group.unique_id %}"
            class="dropdown-item" title="{% trans 'Edit Study Group' %}">
              {% trans 'Edit Group' %}
            </a>
            {% endcomment %}
          {% endif %}

          <div class="dropdown-divider"></div>

          {% if detail_view  %}
            <a class="dropdown-item" href="#" data-toggle="modal"  title="{% trans 'Manage Topics' %}"
            data-target="#group_manage_topics_modal">
              {% trans 'Topics' %}
            </a>
          {% endif %}

          {% if not group.is_main_user_group and detail_view %}
            <a class="dropdown-item" href="#" data-toggle="modal"  title="{% trans 'View Member' %}"
            data-target="#group_manage_member_modal">
              {% trans 'Member' %}
            </a>
          {% endif %}

          {% if can_delete_group %}
            <a href="{% url 'studygroups:group_delete_view' unique_id=group.unique_id %}"
            class="dropdown-item" title="{% trans 'Delete Study Group' %}">
              {% trans 'Delete Group' %}
            </a>
          {% endif %}

          {% if can_leave_group %}
            <a href="{% url 'studygroups:group_leave_view' unique_id=group.unique_id %}"
            class="dropdown-item" title="{% trans 'Leave Study Group' %}">
              {% trans 'Leave Group' %}
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>



{% if detail_view %}

  {% include "studygroups/partials/_group_manage_topics_modal.html" with group=group can_manage_topic=can_manage_topic%}

  {% if not group.is_main_user_group %}

    {% include "studygroups/partials/_group_manage_member_modal.html" with group=group can_manage_member=can_manage_member %}

  {% endif %}

  {% if can_update_group %}

    {% include "studygroups/partials/_edit_group_modal.html" with group=group group_edit_form=group_edit_form %}

  {% endif %}

{% endif %}
