{% load static rules i18n %}

{% test_rule 'can_join_group' request.user group as can_join_group %}
{% test_rule 'can_leave_group' request.user group as can_leave_group %}
{% test_rule 'has_unapproved_membership' request.user group as has_unapproved_membership %}

{% test_rule 'can_view_group' request.user group as can_view_group %}
{% test_rule 'can_update_group' request.user group as can_update_group %}
{% test_rule 'can_delete_group' request.user group as can_delete_group %}

{% test_rule 'can_create_card' request.user group as can_create_card %}
{% test_rule 'can_create_topic' request.user group as can_create_topic %}

{% test_rule 'can_manage_member' request.user group as can_manage_member %}


<div class="card mb-3 {% if not detail_view %}h-100{% endif %}
  {% if group.is_main_user_group == True %}text-white bg-dark{% else %}bg-light{% endif %}">
  {% if can_view_group and not detail_view %}
    <a href="{% url 'studygroups:group_detail_view' slug=group.slug %}"
    class="" style="text-decoration: none; color:inherit;" title="{% trans 'View Study Group' %}">
      <div class="card-header">{{ group.name }}</div>
    </a>
  {% else %}
    <div class="card-header">{{ group.name }}</div>
  {% endif %}
  <div class="card-body">
    <p class="card-text">
      {% if detail_view %}
        {{ group.description|safe }}
      {% else %}
        {{ group.description|safe|truncatewords:7 }}
      {% endif %}
    </p>
  </div>
  <div class="card-footer">

    <div class="btn-group float-right" role="group" aria-label="Study Group Actions">

      {# Group Actions on group list view #}
      {% if can_join_group %}
        <a href="{% url 'studygroups:group_join_view' unique_id=group.unique_id %}"
        role="button" class="btn btn-sm btn-success" title="{% trans 'Join Study Group' %}">
          {% trans 'Join' %}
        </a>
      {% endif %}

      {% if can_view_group and not detail_view %}
        <a href="{% url 'studygroups:group_detail_view' slug=group.slug %}"
        role="button" class="btn btn-sm btn-primary" title="{% trans 'View Study Group' %}">
          {% trans 'View' %}
        </a>
      {% endif %}

      {% if has_unapproved_membership %}
        <small>{% trans 'Please wait for approval...' %}</small>
      {% endif %}

      {# Group Actions on group detail view #}
      {% if can_view_group and detail_view %}
        <button id="group_actions" type="button"
        class="btn btn-sm btn-dark dropdown-toggle" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
          {% trans 'Actions' %}
        </button>
        <div class="dropdown-menu" aria-labelledby="group_actions">

          {% if can_create_topic %}
            <a href="{% url 'flashcards:topic_create_view' unique_group_id=group.unique_id %}"
            class="dropdown-item" title="{% trans 'Add new topic' %}">
              {% trans 'Add Topic' %}
            </a>
          {% endif %}

          {% if can_create_card %}
            <a href="{% url 'flashcards:card_create_view' unique_group_id=group.unique_id %}"
            class="dropdown-item" title="{% trans 'Add new card' %}">
              {% trans 'Add Card' %}
            </a>
          {% endif %}

          {% if can_update_group %}
            <a href="{% url 'studygroups:group_update_view' unique_id=group.unique_id %}"
            class="dropdown-item" title="{% trans 'Edit Study Group' %}">
              {% trans 'Edit Group' %}
            </a>
          {% endif %}

          <div class="dropdown-divider"></div>

          {% if not group.is_main_user_group and detail_view %}
            <a class="dropdown-item" href="#" data-toggle="modal"  title="{% trans 'View Member' %}"
            data-target="#group_manage_member_modal">
              {% trans 'Member' %}
            </a>
          {% endif %}

          {% if can_delete_group %}
            <a href="{% url 'studygroups:group_delete_view' unique_id=group.unique_id %}"
            class="dropdown-item" title="{% trans 'Delete Study Group' %}">
              {% trans 'Delete' %}
            </a>
          {% endif %}

          {% if can_leave_group %}
            <a href="{% url 'studygroups:group_leave_view' unique_id=group.unique_id %}"
            class="dropdown-item" title="{% trans 'Leave Study Group' %}">
              {% trans 'Leave' %}
            </a>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>
</div>

{% if not group.is_main_user_group and detail_view %}
  {% include "studygroups/partials/_group_manage_member_modal.html" with group=group %}
{% endif %}
