{% extends "base.html" %}
{% load static i18n %}

{% block title %} {% trans "My Brains" %} {% endblock %}



{% block content %}
<div class="container">

  <div class="row mt-3">
    <div class="col-sm-10">
      <h1>{% trans "My Brain" %}</h1>
    </div>
    <div class="col-sm-2">
      <div class="btn-group" role="group" aria-label="Basic example">
        <a href="{% url 'cardset:memoset_create_view' %}" role="button" class="btn btn-light" title="Create a new main brain space">
          {% trans 'Create' %}
        </a>
      </div>

    </div>
  </div>

  <div class="row">
    {% for set in rootlist %}
      {% include "cardset/partials/_memoset_media.html" with set=set is_sub=False %}
    {% endfor %}
  </div>

</div>
{% endblock content %}
