{% extends "base.html" %}
{% load static i18n %}

{% block title %} {% trans "Delete Brain" %} {% endblock %}

{% block content %}
<div class="container">

  <div class="row mt-3">
    <div class="col-sm-12">
      <h1>{% trans "Delete Brain: " %} "{{ object.topic }}"</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <form method="post">{% csrf_token %}
        <p>Are you sure you want to delete "{{ object.topic }}"? <br>
        The following objects are going to be deleted as well:<br></p>
        <ul>
          {% for obj in object.get_children %}
            <li>{{ obj }}</li>
          {% endfor %}
        </ul>
        <input class="btn btn-danger" type="submit" value={% trans "Confirm" %}>
    </form>
    </div>
  </div>

</div>
{% endblock content %}
