{% extends "base.html" %}
{% load static i18n %}

{% block title %} {% trans "Train Brain" %} {% endblock %}

{% block content %}
<div class="container">

  <div class="row mt-3">
    <div class="col-sm-12">
      <h1>{% trans "Train Brain" %}</h1>
    </div>
  </div>

  <div class="row mb-3 justify-content-center">
    <div class="col-sm-8">
      <center><strong>{% trans "Question:" %}</strong></center>
        <br>
        {{ card_performance.memocard.question_text }}
    </div>
  </div>

  <div class="row mb-3 justify-content-center">
    <div class="col-sm-8">
      <center><strong>{% trans "Answer:" %}</strong></center>
        <br>
        {{ card_performance.memocard.answer_text }}
    </div>
  </div>

  <div class="row mb-3 justify-content-between">

    <div class="col-sm-3">
      <a href="{% url 'cardset:memocard_update_view' unique_id=card_performance.memocard.unique_id %}"
      role="button" class="btn btn-md btn-primary" title="{% trans 'Update Card' %}">
        {% trans 'Update Card' %}
      </a>
    </div>

    <div class="col-sm-3">

      <div class="btn-group mr-2" role="group" aria-label="Rate Performance">
        <button type="button" class="btn btn-md btn-warning"
          onclick="document.getElementById('id_outcome_int').value = 0; document.performance_rating.submit()">
          {% trans 'Yet to learn...' %}
        </button>
        <button type="button" class="btn btn-md btn-success"
          onclick="document.getElementById('id_outcome_int').value = 1; document.performance_rating.submit()">
          {% trans 'Memorized!' %}
        </button>
      </div>

      <form method="post" name="performance_rating">
        {% csrf_token %}
        {{ form.as_p }}
      </form>

    </div>
  </div>

</div>
{% endblock content %}

{% block javascript %}

  <script type="text/javascript">
    var seconds = document.getElementById("id_duration_sec").value;
    var countdown = setInterval(function() {
      seconds++;
      document.getElementById("id_duration_sec").value = seconds;
      if (seconds >= {{ auto_redirect_timeout }}) document.performance_rating.submit();
    }, 1000);
  </script>
{% endblock javascript %}
