{% load static rules i18n flashcard_tags %}


{% card_performance request.user card as card_performance %}

{% test_rule 'can_manage_performance' request.user card_performance as can_manage_performance %}


<div class="card mb-3 h-100 bg-light">
  <div class="card-header">
    <div class="row">
      <div class="col-sm-6">
        {% card_icon card_performance %}
      </div>
      <div class="col-sm-6">
        <ul class="nav nav-tabs card-header-tabs justify-content-end" id="myTab" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" id="front-tab" data-toggle="tab" href="#front-{{card.id}}"
            role="tab" aria-controls="front" aria-selected="true">{% trans 'Front' %}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" id="back-tab" data-toggle="tab" href="#back-{{card.id}}"
            role="tab" aria-controls="back" aria-selected="false">{% trans 'Back' %}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="card-body">

    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="front-{{card.id}}" role="tabpanel" aria-labelledby="home-tab">
        <p class="card-text">
          <i>{% trans 'Question' %}:</i> {{ card.front_text|safe }}
        </p>
      </div>
      <div class="tab-pane fade" id="back-{{card.id}}" role="tabpanel" aria-labelledby="profile-tab">
        <p class="card-text">
          <i>{% trans 'Answer' %}:</i> {{ card.back_text|safe }}
        </p>
      </div>
    </div>

  </div>
  <div class="card-footer">
    <span class="badge badge-pill badge-light" title="{% trans 'Recall Score' %}">
      {{card_performance.recall_score }} %
    </span>

    {% if card_performance.is_paused == False %}
    <span class="badge badge-pill badge-success" title="{% trans 'Active' %}">&#10003;</span>
    {% else %}
    <span class="badge badge-pill badge-warning" title="{% trans 'Paused' %}">&times;</span>
    {% endif %}

    <span class="badge badge-pill badge-light" title="{% trans 'Learning Priority' %}">
      {{card_performance.get_priority_display}}
    </span>

    <div class="btn-group float-right" role="group" aria-label="Study Group Actions">
      <button id="card_actions" type="button"
      class="btn btn-sm btn-dark dropdown-toggle" data-toggle="dropdown"
      aria-haspopup="true" aria-expanded="false" title="{% trans 'Manage Card' %}">
        <img class="float-left mr-2" height="20px"
        src="{% static 'images/icons/BrainGain_Utility_inverted.png' %}">
        {#% trans 'Manage' %#}
      </button>
      <div class="dropdown-menu" aria-labelledby="card_actions">

        {% if can_manage_card %}
          <a class="dropdown-item" href="#" data-toggle="modal"
          title="{% trans 'Manage Card' %}" role="button"
          data-target="#update_delete_card_{{card.id}}_modal">
            {% trans 'Edit Card' %}
          </a>
        {% endif %}

        {% if can_manage_performance %}
          <a class="dropdown-item" href="#" data-toggle="modal"
          title="{% trans 'Manage Learning Settings' %}" role="button"
          data-target="#update_performance_{{card_performance.id}}_modal">
            {% trans 'Settings' %}
          </a>
        {% endif %}
      </div>

    </div>
  </div>
</div>


{% block modal %}

  {% if can_manage_card %}
    {% update_delete_card_modal card %}
  {% endif %}
  {% if can_manage_performance %}
    {% update_performance_modal card_performance %}
  {% endif %}

{% endblock modal %}
