{% load static i18n rules cardset_tags %}

{% card_performance request.user card as performance %}

{% test_rule 'can_delete_memocard' request.user card as can_delete_memocard %}
{% test_rule 'can_update_memocard' request.user card as can_update_memocard %}


<div class="card col-sm-12">
  <div class="card-header" id="toggle-{{ card.unique_id }}">
    <h5 class="mb-0">
      <button class="btn btn-link btn-block text-left" type="button"
      data-toggle="collapse" data-target="#content-{{ card.unique_id }}" aria-expanded="true"
      aria-controls="collapseOne">
        <img class="align-self-center float-left mr-3" width="25px"
          src="{{STATIC_URL}}{% if performance.recall_score == 100.0 %}images/Memo_Bulb_On.png{% else %}images/Memo_Bulb_Off.png{% endif %}"
          alt="Memo Card {{ card.topic }}">
        {{ card.topic }}
      </button>
    </h5>
  </div>

  <div id="content-{{ card.unique_id }}" class="collapse"
  aria-labelledby="headingOne" data-parent="#cartset-accordion-{{ card.memoset.unique_id }}">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <h5>{% trans "Question: " %}</h5><strong>{{ card.question_text }}</strong>
          <h5>{% trans "Answer: " %}</h5>{{ card.answer_text|safe }}
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12">
              <div class="btn-group float-right" role="group" aria-label="Basic example">

                <a role="button"
                {% if not can_update_memocard %}
                  class="btn btn-sm btn-primary disabled"
                  aria-disabled="true"
                {% else %}
                  href="{% url 'cardset:memocard_update_view' unique_id=card.unique_id %}"
                  class="btn btn-sm btn-primary"
                  title="{% trans 'Change card content' %}"
                {% endif %}>
                  {% trans 'Content' %}
                </a>

                <a href="{% url 'cardset:memocardperformance_update_view' unique_id=performance.unique_id %}"
                role="button" class="btn btn-sm btn-primary" title="{% trans 'Change Settings' %}">
                  {% trans 'Settings' %}
                </a>

                <a role="button"
                {% if not can_delete_memocard %}
                  class="btn btn-sm btn-danger disabled"
                  aria-disabled="true"
                {% else %}
                  href="{% url 'cardset:memocard_delete_view' unique_id=card.unique_id %}"
                  class="btn btn-sm btn-danger"
                  title="{% trans 'Delete' %} {{card.topic}}"
                {% endif %}>
                  {% trans 'Delete' %}
                </a>

              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="row">
                <div class="col-sm-6">
                  <center><strong>{% trans "Learn Score" %}</strong><br>
                  <h3>{{performance.learn_score}} %</h3></center>
                </div>
                <div class="col-sm-6">
                  <center><strong>{% trans "Recall Score" %}</strong><br>
                  <h3>{{performance.recall_score}} %</h3></center>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-4">
                  {% trans "Status" %}:<br>{{performance.is_active}}
                </div>
                <div class="col-sm-4">
                  {% trans "Learning Priority" %}:<br>{{performance.get_priority_display}}
                </div>
                <div class="col-sm-4">
                  {% trans "Learning Timeout" %}:<br>{{performance.learning_timeout}} {% trans "seconds" %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
