{% load static i18n cardset_tags %}

{% card_performance request.user card as performance %}

<div class="card col-sm-12">
  <div class="card-header" id="toggle-{{ card.unique_id }}">
    <h5 class="mb-0">
      <button class="btn btn-link btn-block text-left" type="button"
      data-toggle="collapse" data-target="#content-{{ card.unique_id }}" aria-expanded="true"
      aria-controls="collapseOne">
        <img class="align-self-center float-left mr-3" width="25px"
          src="{{STATIC_URL}}{% if performance.score == 100.0 %}images/Memo_Bulb_On.png{% else %}images/Memo_Bulb_Off.png{% endif %}"
          alt="Memo Card {{ card.topic }}">
        {{ card.topic }}
      </button>
    </h5>
  </div>

  <div id="content-{{ card.unique_id }}" class="collapse"
  aria-labelledby="headingOne" data-parent="#cartset-accordion-{{ card.memoset.unique_id }}">
    <div class="card-body">
      <div class="row">
        <div class="col-sm-6">
          <strong>{% trans "Question: " %}</strong>{{ card.question_text }}<br>
          <strong>{% trans "Answer: " %}</strong>{{ card.answer_text }}
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12">
              <div class="btn-group float-right" role="group" aria-label="Basic example">
                <a href="{% url 'cardset:memocard_update_view' unique_id=card.unique_id %}" role="button"
                class="btn btn-sm btn-primary" title="{% trans 'Update' %} {{card.topic}}">
                  {% trans 'Update' %}
                </a>
                <a href="{% url 'cardset:memocard_delete_view' unique_id=card.unique_id %}"
                role="button" class="btn btn-sm btn-danger" title="{% trans 'Delete' %} {{card.topic}}">
                  {% trans 'Delete' %}
                </a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              {% trans "Statistics" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
